#logo { 
    position: absolute;
    top: 30%;
    left:40%;
    display: block;
    height: auto;
    max-width: 100%;
 }
body{
    font-family: arial,sans-serif;
}
header {
    font-weight: normal;
    font-size: 13px;
    color: black;
    text-align:right;
    margin: 1em 1em 0 0;
}
header div{
    display: inline;
    padding-top: 10px;
    padding-left: 10px; 
}
header img {
    width: 15px;
    height: 15px;  
    vertical-align: middle;
}
header button{
    background-color: #3399ff; 
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.wrapper{
    position: absolute;
    top: 30%;
    left:40%;
}
.searchForm {
  width: 100%;
  text-align: center;
}
form {
  position: relative;
  top: 230px;
}
#searchQuery {
  width: 42.5em;
  height: 3em;
  margin: 2em auto 2em auto;
  display: block;
  border: 1px solid #D8D8D8;
  border-radius: 0;
}
#searchQuery:hover {
  border: 1px solid #bbbbbb;
}
#searchQuery:focus {
  outline: 0;
  border: 1px solid #58ACFA;
}
a {
  font-size: 13px;
  font-family: arial;
  text-decoration: none;
  color: #000;
  opacity: .75;
}

a:hover {
  text-decoration: underline;
}
.searchButton {
  padding: 1em 1.5em 1em 1.5em;
  border: none;
  background-color: #f5f5f5;
  font-weight: bold;
  color: #666666;
}
.footerLeft {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eceff1;
  height: 40px;
  width: 100%;
  display: inline;
  line-height: 37px;
}

#Advertising, #Business, #About {
  padding-left: 15px;
}

.footerRight { 
  position: absolute;
  right: 0;
  bottom: 0;
  background: #eceff1;
  height: 40px;
  width: 50%;
  display: inline;
  line-height: 37px;
}

#Privacy, #Terms, #Settings {
  float: right;
  padding-right: 30px;
}
